<div class="gap-2 items-center" [ngClass]="!displayClue ? 'flex' : 'block'">
  <app-question-mark-icon
    *ngIf="!displayClue"
    class="w-5 h-5 flex-shrink-0"
  ></app-question-mark-icon>
  <app-loading-spinner-icon
    *ngIf="loading; else content"
  ></app-loading-spinner-icon>
  <ng-template #content>
    <p class="text-gray-400" *ngIf="!displayClue; else clue">
      <span>{{ label }}</span> in <span>{{ counter }}</span> tries
    </p>
    <ng-template #clue>
      <ng-content></ng-content>
    </ng-template>
  </ng-template>
</div>
