<div
  class="flex flex-col gap-5 place-items-center max-w-3xl"
  *rxLet="finished$; let finished"
>
  <app-last-champion
    [lastChampion$]="lastChampion$"
    [loading]="!!(lastChampionLoading$ | async)"
  ></app-last-champion>
  <div class="primary-input w-[30rem] p-5 rounded">
    <ng-container *ngIf="!finished">
      <div class="flex flex-col gap-3 items-center">
        <p class="font-semibold text-xl">
          Guess today's Teamfight Tactics champion!
        </p>
        <app-guess-clues></app-guess-clues>
      </div>
    </ng-container>
    <ng-container *ngIf="finished">
      <div class="flex flex-col gap-1" *ngIf="finished">
        <p class="w-full font-semibold text-center">
          You Correctly guessed the Champion in
          <span class="text-green-400">{{ guesses.length }}</span> tries!
        </p>
        <div
          class="flex items-center gap-2 hover:cursor-pointer justify-center"
          (click)="copyShareLink()"
        >
          <p class="font-bold">Share</p>
          <app-share-icon class="w-6 h-6"></app-share-icon>
        </div>
      </div>
    </ng-container>
  </div>

  <app-result-form
    *ngIf="!finished"
    (queryChange)="handleQueryChange($event)"
    [(selectedResult)]="selectedChampion"
    (handleGuess)="guess()"
    [results]="(results$ | async)"
    [placeholder]="'Search for Traits'"
    [resultsLoading]="!!(resultsLoading$ | async)"
    [guessLoading]="!!(guessLoading$ | async)"
  ></app-result-form>

  <table cdk-table [dataSource]="guesses" class="min-w-[30rem]">
    <ng-container cdkColumnDef="champion">
      <th cdk-header-cell *cdkHeaderCellDef>Champion</th>
      <td
        cdk-cell
        *cdkCellDef="let element"
        class="flex items-center justify-center"
      >
        <div>
          <img
            [src]="element.imagePath"
            alt="Logo"
            class="w-10 h-10"
            *ngIf="element.imagePath"
          />
        </div>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="set">
      <th cdk-header-cell *cdkHeaderCellDef>Set</th>
      <td cdk-cell *cdkCellDef="let element">
        <div
          [ngClass]="matchStateClass(element.results, 'set')"
          class="flex items-center justify-between gap-1"
          showAfter
          [delay]="500"
        >
          <p>{{ element.set }}</p>
          <app-match-icon
            [matchState]="
              matchStateByAttrresults(element.results, 'set')?.matchState
            "
          ></app-match-icon>
        </div>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="cost">
      <th cdk-header-cell *cdkHeaderCellDef>Cost</th>
      <td cdk-cell *cdkCellDef="let element">
        <div
          class="flex items-center justify-center gap-1"
          [ngClass]="matchStateClass(element.results, 'cost')"
          showAfter
          [delay]="1000"
        >
          <p>{{ element.cost }}</p>
          <app-gold-icon class="w-4 h-4"></app-gold-icon>
          <app-match-icon
            [matchState]="
              matchStateByAttrresults(element.results, 'cost')?.matchState
            "
          ></app-match-icon>
        </div>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="range">
      <th cdk-header-cell *cdkHeaderCellDef>Range</th>
      <td cdk-cell *cdkCellDef="let element">
        <div
          [ngClass]="matchStateClass(element.results, 'range')"
          class="flex items-center justify-between gap-1"
          showAfter
          [delay]="1500"
        >
          <p>{{ element.range }}</p>
          <app-match-icon
            [matchState]="
              matchStateByAttrresults(element.results, 'range')?.matchState
            "
          ></app-match-icon>
        </div>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="traits">
      <th cdk-header-cell *cdkHeaderCellDef>Traits</th>
      <td cdk-cell *cdkCellDef="let element">
        <div
          [ngClass]="matchStateClass(element.results, 'traits')"
          showAfter
          [delay]="2000"
          (onShow)="checkFinished(element.results)"
          class="justify-center"
        >
          <p>{{ element.traits }}</p>
        </div>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <app-home-button class="mt-5"></app-home-button>
</div>
