<div class="w-screen h-screen flex items-center flex-col gap-10">
  <app-navbar class="w-full"></app-navbar>
  <div
    class="font-bold text-3xl logo mt-20 secondary-input"
    *ngIf="selectedGameModeId === undefined"
  >
    <p>Tftordle</p>
    <div
      class="wrapper"
      [style.backgroundColor]="'#1E2328'"
      [style.borderColor]="'#AE9667'"
    >
      <img src="../assets/logo.png" />
    </div>
  </div>
  <app-trait-guess *ngIf="selectedGameModeId === 0"></app-trait-guess>
  <app-champion-guess *ngIf="selectedGameModeId === 1"></app-champion-guess>

  <div
    class="flex flex-col gap-6"
    *ngIf="selectedGameModeId === undefined; else backBtn"
  >
    <button
      class="py-3 px-6 hover:scale-105 transition-all flex flex-col justify-start gap-3 primary-input"
      *ngFor="let gameMode of gameModes"
      (click)="selectGameMode(gameMode.id)"
    >
      <p class="font font-semibold">{{ gameMode.description }}</p>
    </button>
  </div>

  <ng-template #backBtn>
    <button (click)="reset()" class="px-6 py-2 font-bold primary-input">
      Back
    </button>
  </ng-template>
</div>
