@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font;
  src: url("./assets/Friz\ Quadrata\ Regular.ttf");
}

* {
  color: white;
  font-family: font;
}

body {
  background-repeat: no-repeat;
  background-size: cover;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), no-repeat,
    url("./assets/background.jpg");
}

.primary-input {
  background-color: #1d2328;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #0a6f82, #11b5b2);
  outline: none;
}

.secondary-input {
  background-color: #1d2328;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #eecc8a, #968259);
  outline: none;
}

.red-border {
  background-color: #1d2328;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #942c2c, #ef4444);
  outline: none;
}

.green-border {
  background-color: #1d2328;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #0f7032, #16a34a);
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  position: relative;
  padding: 15px 35px 15px 15px;
  border-width: 2px;
  margin-right: 70px;
  border-radius: 3px;

  .wrapper {
    top: -18px;
    left: 145px;
    position: absolute;
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 100%;
    border-width: 2px;

    img {
    }
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.664);
}
