<ng-template #loadingSpinner>
  <app-loading-spinner-icon></app-loading-spinner-icon>
</ng-template>

<div class="flex flex-col gap-5 items-center" *rxLet="finished$; let finished">
  <app-last-champion
    [lastChampion$]="lastChampion$"
    [loading]="!!(lastChampionLoading$ | async)"
  ></app-last-champion>
  <div
    class="p-5 rounded flex flex-col gap-3 items-center primary-input w-[20rem]"
  >
    <p class="font-semibold text-xl">Guess the Trait's</p>
    <p
      class="font-semibold flex gap-6 items-center"
      *ngIf="!(championLoading$ | async); else loadingSpinner"
    >
      <img
        [src]="(guessChampion$ | async)?.imagePath"
        *ngIf="(guessChampion$ | async)?.name"
        class="h-20 w-20"
      />
      <span
        >{{ (guessChampion$ | async)?.name }} - Set {{ (guessChampion$ |
        async)?.set }}</span
      >
    </p>

    <div *ngIf="finished" class="flex flex-col gap-1">
      <p class="w-full font-semibold text-center">
        You Correctly guessed all Trait's in
        <span class="text-green-400">{{ guesses.length }}</span> Tries!
      </p>
      <div
        class="flex items-center gap-2 hover:cursor-pointer justify-center"
        (click)="copyShareLink()"
      >
        <p class="font-bold">Share</p>
        <app-share-icon class="w-6 h-6"></app-share-icon>
      </div>
    </div>

    <app-guess-clues *ngIf="!finished" class="w-full"></app-guess-clues>
  </div>
  <app-result-form
    *ngIf="!finished"
    (queryChange)="handleQueryChange($event)"
    [(selectedResult)]="selectedTrait"
    (handleGuess)="guess()"
    [results]="(results$ | async)"
    [resultsLoading]="!!(resultsLoading$ | async)"
    [guessLoading]="!!(guessLoading$ | async)"
    [placeholder]="'Search for Traits'"
  ></app-result-form>

  <div class="flex items-start gap-2 flex-wrap w-[20rem]">
    <div
      *ngFor="let guess of correctGuesses$ | async"
      [style.backgroundColor]="'#1E2328'"
      class="px-4 py-2 green-border flex justify-between items-center gap-2 guess"
    >
      <img [src]="guess.imagePath" class="w-5 h-5" />
      <p>{{ guess.label }}</p>
    </div>
  </div>

  <div class="flex flex-wrap gap-2 items-start w-[20rem]">
    <div
      *ngFor="let guess of wrongGuesses$ | async"
      [style.backgroundColor]="'#1E2328'"
      class="px-4 py-2 red-border flex justify-between items-center gap-2 guess"
    >
      <img [src]="guess.imagePath" class="w-5 h-5" />
      <p>{{ guess.label }}</p>
    </div>
  </div>

  <app-home-button class="mt-5"></app-home-button>
</div>
