td {
  text-align: center;
  padding: 10px;
  div {
    padding: 5px 15px;
  }
}

.cdk-cell {
  div {
    animation: fadein 1s;
  }
  &.cdk-column-traits {
    div {
      word-break: break-all;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
